{% extends 'base.html' %}

{% block content %}

    {#<div style="padding: 20px; background-color: fuchsia"> Extended template index!</div>#}
    {#    <a href="{% url 'articles' %}">To the first page</a>#}


    {#    {% load static %}#}


    {% if query_search %}
        <h5>
            Результаты поиска для "{{ query_search }}":
        </h5>
        {#  {% else %}#}
        {#      <h3>#}
        {# Результаты поиска все продукты:#}
        {# </h3>#}
    {% endif %}


    <!-- Page Content -->
    <!-- Page Content -->
    <div class="container my-3">
        {#        <div class="row">#}
        {#            <div class="col-12">#}
        {#                <h2>Products:</h2>#}
        {#            </div>#}
        {#        </div>#}
        <div class="row">

            {% for obj in page_obj %}

                <div class="col-md-4">
                    <div class="card mb-4 shadow rounded">
                        {% if obj.movie_season.img %}
                            {#                            <a href="{% url 'product_detail' pk=obj.pk %}">#}
                            <img src="{{ obj.movie_season.img.url }}" class="card-img-top"
                                 alt="{{ obj.movie_season.movie_season }}">
                            {#                            </a>#}
                        {% endif %}

                        <div class="card-body">
                            <p class="card-text">{{ obj.movie_season }}</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <small class="text-muted">Осталось мест: {{ obj.empty_seats }} шт</small>
                                <small class="text-muted"> Цена: {{ obj.ticket_price }} грн</small>

                                <div class="btn-group">
                                    {#                                    <a href="{% url 'product_detail' pk=obj.pk %}">#}
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
                                    {#                                    </a>#}
                                </div>
                                {% if request.user.is_superuser %}
                                    <div class="btn-group">
                                        {#                                        <a href="{% url 'update_product' slug=obj.slug %}">#}
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        {#                                        </a>#}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

    {#    <div class="sessions-list">#}
    {#        {% if sessions %}#}
    {#            <h4>Список сеансов на {{ today|date }}</h4>#}
    {#            {% for session in sessions %}#}
    {#                <div class="session-item">#}
    {#                    <h5>{{ session.movie_season }}</h5>#}
    {#                    <h6>{{ session.movie_show_starts|time }} - {{ session.movie_show_ends|time }} |#}
    {#                        {{ session.cinema_hall.name }} | Цена: {{ session.ticket_price }} грн.</h6>#}
    {#                    <p>Дата показа: {{ session.movie_show_starts|date }}</p>#}
    {#                    <p>Осталось мест: {{ session.empty_seats }}</p>#}
    {#                    <a href="{% url 'buy_ticket' session.id %}" class="btn btn-primary">Купить билет</a>#}
    {#                    <a href="#" class="btn btn-primary">Купить билет</a>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% else %}#}
    {#            <p>На сегодня нет запланированных сеансов.</p>#}
    {#        {% endif %}#}
    {#    </div>#}


    {#-----------pagination#}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo; first</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">previous</span>
                </li>
            {% endif %}

            <li class="page-item active">
      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">next</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">last &raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
